body{
    margin: 0;
    max-width: 1920px;
    height: 1080px;
    background-image: url(../imagenes/mesa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 10px;
}
.logo{
    position: absolute;
    margin-left: 35vw;
    margin-top: 12vh;
    min-width: 10px;
}
.button1{
    position: absolute;
    height: 8vh;
    width: 15vw;
    font-size: 2rem;
    border: none;
    margin-top: 65vh;
    margin-left: 40vw;
    border-radius: 2vw;
    background-color: #FFD700;
}
.button2{
    position: absolute;
    height: 8vh;
    width: 15vw;
    font-size: 2rem;
    margin-left: 40vw;
    border: none;
    margin-top: 80vh;
    border-radius: 2vw;
    background-color: #FFD700;
}
button:hover{
    cursor: pointer;
    margin-left: 40.5vw;
    box-shadow: -5px 1vw 2vh black;
    width: 14vw;
    height: 7vh;
}